[connectivity]
nk=dma:1:dma
sc=dma.aie_in0_0:ai_engine_0.in0_0
sc=dma.aie_in0_1:ai_engine_0.in0_1
sc=dma.aie_in0_2:ai_engine_0.in0_2
sc=dma.aie_in0_3:ai_engine_0.in0_3
sc=dma.aie_in0_4:ai_engine_0.in0_4
sc=dma.aie_in0_5:ai_engine_0.in0_5
sc=dma.aie_in0_6:ai_engine_0.in0_6
sc=dma.aie_in0_7:ai_engine_0.in0_7
sc=dma.aie_in1_0:ai_engine_0.in1_0
sc=dma.aie_in1_1:ai_engine_0.in1_1
sc=dma.aie_in1_2:ai_engine_0.in1_2
sc=dma.aie_in1_3:ai_engine_0.in1_3
sc=dma.aie_in1_4:ai_engine_0.in1_4
sc=dma.aie_in1_5:ai_engine_0.in1_5
sc=dma.aie_in1_6:ai_engine_0.in1_6
sc=dma.aie_in1_7:ai_engine_0.in1_7
sc=dma.aie_in1_8:ai_engine_0.in1_8
sc=dma.aie_in1_9:ai_engine_0.in1_9
sc=dma.aie_in1_10:ai_engine_0.in1_10
sc=dma.aie_in1_11:ai_engine_0.in1_11
sc=dma.aie_in1_12:ai_engine_0.in1_12
sc=dma.aie_in1_13:ai_engine_0.in1_13
sc=dma.aie_in1_14:ai_engine_0.in1_14
sc=dma.aie_in1_15:ai_engine_0.in1_15
sc=dma.aie_in1_16:ai_engine_0.in1_16
sc=dma.aie_in1_17:ai_engine_0.in1_17
sc=dma.aie_in1_18:ai_engine_0.in1_18
sc=dma.aie_in1_19:ai_engine_0.in1_19
sc=dma.aie_in1_20:ai_engine_0.in1_20
sc=dma.aie_in1_21:ai_engine_0.in1_21
sc=dma.aie_in1_22:ai_engine_0.in1_22
sc=dma.aie_in1_23:ai_engine_0.in1_23
sc=dma.aie_in1_24:ai_engine_0.in1_24
sc=dma.aie_in1_25:ai_engine_0.in1_25
sc=dma.aie_in1_26:ai_engine_0.in1_26
sc=dma.aie_in1_27:ai_engine_0.in1_27
sc=dma.aie_in1_28:ai_engine_0.in1_28
sc=dma.aie_in1_29:ai_engine_0.in1_29
sc=dma.aie_in1_30:ai_engine_0.in1_30
sc=dma.aie_in1_31:ai_engine_0.in1_31
sc=dma.aie_in1_32:ai_engine_0.in1_32
sc=dma.aie_in1_33:ai_engine_0.in1_33
sc=dma.aie_in1_34:ai_engine_0.in1_34
sc=dma.aie_in1_35:ai_engine_0.in1_35
sc=dma.aie_in1_36:ai_engine_0.in1_36
sc=dma.aie_in1_37:ai_engine_0.in1_37
sc=dma.aie_in1_38:ai_engine_0.in1_38
sc=dma.aie_in1_39:ai_engine_0.in1_39
sc=dma.aie_in1_40:ai_engine_0.in1_40
sc=dma.aie_in1_41:ai_engine_0.in1_41
sc=dma.aie_in1_42:ai_engine_0.in1_42
sc=dma.aie_in1_43:ai_engine_0.in1_43
sc=dma.aie_in1_44:ai_engine_0.in1_44
sc=dma.aie_in1_45:ai_engine_0.in1_45
sc=dma.aie_in1_46:ai_engine_0.in1_46
sc=dma.aie_in1_47:ai_engine_0.in1_47
sc=dma.aie_in1_48:ai_engine_0.in1_48
sc=dma.aie_in1_49:ai_engine_0.in1_49
sc=ai_engine_0.out0_0:dma.aie_out0_0
sc=ai_engine_0.out0_1:dma.aie_out0_1
sc=ai_engine_0.out0_2:dma.aie_out0_2
sc=ai_engine_0.out0_3:dma.aie_out0_3
sc=ai_engine_0.out0_4:dma.aie_out0_4
sc=ai_engine_0.out0_5:dma.aie_out0_5
sc=ai_engine_0.out0_6:dma.aie_out0_6
sc=ai_engine_0.out0_7:dma.aie_out0_7
sc=ai_engine_0.out0_8:dma.aie_out0_8
sc=ai_engine_0.out0_9:dma.aie_out0_9
sc=ai_engine_0.out0_10:dma.aie_out0_10
sc=ai_engine_0.out0_11:dma.aie_out0_11
sc=ai_engine_0.out0_12:dma.aie_out0_12
sc=ai_engine_0.out0_13:dma.aie_out0_13
sc=ai_engine_0.out0_14:dma.aie_out0_14
sc=ai_engine_0.out0_15:dma.aie_out0_15
sc=ai_engine_0.out0_16:dma.aie_out0_16
sc=ai_engine_0.out0_17:dma.aie_out0_17
sc=ai_engine_0.out0_18:dma.aie_out0_18
sc=ai_engine_0.out0_19:dma.aie_out0_19
sc=ai_engine_0.out0_20:dma.aie_out0_20
sc=ai_engine_0.out0_21:dma.aie_out0_21
sc=ai_engine_0.out0_22:dma.aie_out0_22
sc=ai_engine_0.out0_23:dma.aie_out0_23
sc=ai_engine_0.out0_24:dma.aie_out0_24
sc=ai_engine_0.out0_25:dma.aie_out0_25
sc=ai_engine_0.out0_26:dma.aie_out0_26
sc=ai_engine_0.out0_27:dma.aie_out0_27
sc=ai_engine_0.out0_28:dma.aie_out0_28
sc=ai_engine_0.out0_29:dma.aie_out0_29
sc=ai_engine_0.out0_30:dma.aie_out0_30
sc=ai_engine_0.out0_31:dma.aie_out0_31
sc=ai_engine_0.out0_32:dma.aie_out0_32
sc=ai_engine_0.out0_33:dma.aie_out0_33
sc=ai_engine_0.out0_34:dma.aie_out0_34
sc=ai_engine_0.out0_35:dma.aie_out0_35
sc=ai_engine_0.out0_36:dma.aie_out0_36
sc=ai_engine_0.out0_37:dma.aie_out0_37
sc=ai_engine_0.out0_38:dma.aie_out0_38
sc=ai_engine_0.out0_39:dma.aie_out0_39
sc=ai_engine_0.out0_40:dma.aie_out0_40
sc=ai_engine_0.out0_41:dma.aie_out0_41
sc=ai_engine_0.out0_42:dma.aie_out0_42
sc=ai_engine_0.out0_43:dma.aie_out0_43
sc=ai_engine_0.out0_44:dma.aie_out0_44
sc=ai_engine_0.out0_45:dma.aie_out0_45
sc=ai_engine_0.out0_46:dma.aie_out0_46
sc=ai_engine_0.out0_47:dma.aie_out0_47
sc=ai_engine_0.out0_48:dma.aie_out0_48
sc=ai_engine_0.out0_49:dma.aie_out0_49

noc.read_bw=dma.pl_in0_0:14000.16
noc.read_bw=dma.pl_in0_1:14000.16
noc.read_bw=dma.pl_in1_0:14000.16
noc.read_bw=dma.pl_in1_1:14000.16
noc.write_bw=dma.pl_out0_0:14000.16
noc.write_bw=dma.pl_out0_1:14000.16

[vivado]
prop=run.synth_1.STRATEGY=Flow_PerfOptimized_high
prop=run.impl_1.STRATEGY=Performance_Explore

prop=run.impl_1.STEPS.OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=Explore
#prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=ExploreWithRemap
#prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=RuntimeOptimized

prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=Explore
#prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=EarlyBlockPlacement
#prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=ExtraTimingOpt
#prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=RuntimeOptimized

prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
#prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveFanoutOpt
#prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=RuntimeOptimized

prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
#prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=NoTimingRelaxation
#prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=RuntimeOptimized

prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.MORE OPTIONS=-tns_cleanup
#prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
